@{
    ViewBag.Title = "Can I Go Outside?";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            padding: 0px;
            background-image: url("canigooutside/Images/SunnyDay.jpg");
            background-size: cover;
        }
        .tableRight {
            margin-left: 20px;
        }
        #table {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <p style="font-size: 80px; margin-top: 100px;">@ViewBag.Title</p>
        <p style="font-size: 30px;">Enter Zip Code:</p>
        @using (Html.BeginForm())
        {
            <form id="zipForm">
                <input style="padding: 5px; font-size: 25px; text-align: center;" id="zipCode" type="text" name="zip" />
            </form>
        }
    </div>
    <div>
        <table id="table" align="center">
            <tbody>
                <tr>
                    <td>
                        <div id="yesno" style="align-self: center">
                            <h1 id="result">@ViewBag.result @ViewBag.reason</h1>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="temp">
                            <b>Temp: </b>@ViewBag.temp&#176;F 
                        </div>
                    </td>
                    <td>
                        <div id="humidity" class="tableRight">
                            <b>Humidity: </b>@ViewBag.humidity%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="wind">
                            <b>Wind Speed: </b>@ViewBag.windSpeed mph
                        </div>
                    </td>
                    <td>
                        <div id="precipitation" class="tableRight">
                            <b>Chance of Precipitation: </b>@ViewBag.rainChance%
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    $("zipCode").keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#table").css("display", "table");
            $("zipForm").submit();
            $("#wind").innerText = "test";
        }
    });
</script>