@{
    ViewBag.Title = "Can I Go Outside?";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            padding: 0px;
            background-image: url("/Images/SunnyDay.jpg");
        }
        .tableRight {
            margin-left: 20px;
        }
        #table {
            font-size: 20px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        <form id="zipForm">
        <input id="zipCode" type="text" name="zip" />
        </form>
    }
    <table id="table" align="center">
        <tbody>
            <tr>
                <td>
                    <div id="yesno">
                        <h1 id="result">@ViewBag.result</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="temp">
                        <b>Temp: </b>@ViewBag.temp
                    </div>
                </td>
                <td>
                    <div id="humidity" class="tableRight">
                        <b>Humidity: </b>@ViewBag.humidity%
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="wind">
                        <b>Wind Speed: </b>@ViewBag.windSpeed mph
                    </div>
                </td>
                <td>
                    <div id="precipitation" class="tableRight">
                        <b>Chance of Precipitation: </b>@ViewBag.rainChance%
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script>
    $(window).on('resize', function () {
        $('#table').css('margin-top', (($(this).width() / 4)) - 60);
    }).resize();

    $("zipCode").keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#table").css("display", "table");
            $("zipForm").submit();
        }
    });
</script>